@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
background-color: #d00000;
text-align:center;
}

.items {
	margin-top: 25vh;
}

#logo {
	border-radius:15%;
}

.download img {
	display: block;
	margin:auto;
	padding: 1% 0 0 0;
}

h1 {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 1.6em;
}


