@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
	background-color: #d00000;
	margin:auto;
}

.container {
	margin: 25vh auto 0 auto;
	text-align: center;
	max-width: 400px;
}

#logo{
	width: 40%;
	border-radius: 15%;
}

h1{
	color:white;
	font-family: "Poppins";
	font-size: 3em;
}

.download img{
	width: 400px;
	display: block;
	margin: auto;
	padding: 1% 0 1% 0;
}
